$purple: #A61781;
$darkpurple: #503794;
$gray: #4D4D4D;
$lightgray: #F5F2FF;
$white: white;

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
  -webkit-text-size-adjust: none;
}
a {
  display: inline-block;
  font-size: 24px;
}
p {
  font-size: 24px;
  line-height: 1.4;
}
h1 {
  position: relative;
  font-size: 60px;
  color: $purple;
  text-transform: uppercase;
}
h2 {
  position: relative;
  font-size: 60px;
  color: $darkpurple;
  text-transform: uppercase;
}
h5 {
  position: relative;
  font-size: 35px;
  text-transform: capitalize;
}


// ------ header
header {
  position: absolute;
  overflow: hidden;
  height: 90px;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 5;
  .wrapper {
    display: flex;
    height: 100%;
    width: 100%;
    padding: 0 10%;
    align-items: flex-end;
    justify-content: space-between;
    .menu {
      position: relative;
      display: flex;
      a {
        padding: 0 15px;
        color: $white;
        &.search {
          display: flex;
          img {
            padding-right: 10px;
          }
        }
      }
    }
    .box-img {
      height: 50px;
      img {
        height: 100%;
      }
    }
  }
}
// ------- banner {
.home {
  .banner {
    width: 100%;
    .box-video {
      padding: 20px;
      video {
        width: 100%;
      }
    }
  }
  .champ {
    position: relative;
    padding: 100px 0;
    .wrapper {
      padding: 0 10%;
      width: 100%;
      display: flex;
      align-items: center;
      .box-text {
        width:40%;
        .wrap {
          position: relative;
          width: 100%;
          padding-left: 60px;
          .text-group {
            position: relative;
            width: 380px;
            margin-left: auto;
            .a {
              right: -35%;
              color: $darkpurple;
            }
            .b {
              left: -18%;
            }
          }
          p {
            color: $gray;
            padding: 10px 0;
          }
          .more {
            margin-top: 40px;
            color: $darkpurple;
            &:before {
              position: absolute;
              content: '';
              top: 50%;
              left: -60px;
              width: 50px;
              height: 2px;
              background-color: $darkpurple;
            }
          }
        }
      }
      .box-card {
        width: 60%;
        display: flex;
        justify-content: space-between;
        .box-img {
          width: 31%;
          img {
            width: 100%;
          }
        }
      }
    }
  }
  .product {
    position: relative;
    padding: 100px 0;
    .wrapper {
      padding: 0 10%;
      display: flex;
      justify-content: space-between;
      .card-product {
        position: relative;
        height: 340px;
        width: 220px;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: flex-end;
        .box-img {
          z-index: 1;
          height: 200px;
          img {
            height: 100%;
          }
        }
        .title {
          padding: 10px 0;
        }
        .circle {
          position: absolute;
          top: 20px;
          width: 200px;
          height: 200px;
          border-radius: 50%;
          background: $lightgray;
        }
        .pin {
          position: absolute;
          top: 0;
          left: 0;
          width: 40px;
          height: 40px;
          border-radius: 50%;
          background: linear-gradient($darkpurple, $purple);
        }
        &.active {
          .circle {
            background: linear-gradient($darkpurple, $purple);
          }
        }
      }
    }
  }
}

@media (max-width: 1400px) {
  a, p {
    font-size: 18px;
  }
  h1 {
    font-size: 50px;
  }
  h5 {
    font-size: 30px;
  }
  header {
    .wrapper {
      padding: 0 8%;
    }
  }
  .home {
    .champ {
      padding: 80px 0;
      .wrapper {
        padding: 0 8%;
        .box-text .wrap .text-group {
          width: 330px;
        }
      }
    }
    .product {
      padding: 80px 0;
      .wrapper {
        .card-product {
          height: 290px;
          width: 200px;
          .box-img {
            height: 160px;
          }
          .circle {
            width: 160px;
            height: 160px;
          }
          .pin {
            width: 35px;
            height: 35px;
          }
        }
      }
    }
  }
}