$purple: #A61781;
$purple-op: #a61780b3;
$lightpurple: #F2D9EC;
$darkpurple: #503794;
$darkpurple-op: #503795b3;
$darklightpurple: #B7A7EF;
$gray: #4D4D4D;
$lightgray: #F5F2FF;
$white: white;
$fsa: 'FS Albert';
$fsb: 'FSAlbert';

$smooth: all 1S cubic-bezier(0.1, 0.1, .5, 1);
$sdw1: 0 6px 12px rgba(32, 29, 29, 0.2);
$sdw2: 0 6px 14px rgba(31, 22, 70, 0.7);
$jelly: all 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275);
$jelly-2: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}
body {
  font-family: $fsa;
  font-weight: normal;
  font-style: normal;
  overflow-x: hidden;
  -webkit-text-size-adjust: none;
}
a {
  display: inline-block;
  font-size: 24px;
  cursor: pointer;
}
p {
  font-size: 24px;
  line-height: 1.4;
}
h1 {
  position: relative;
  font-size: 75px;
  color: $purple;
  font-family: $fsa;
  text-transform: uppercase;
}
h2 {
  position: relative;
  font-size: 70px;
  color: $darkpurple;
  text-transform: uppercase;
}
h4 {
  font-size: 36px;
  text-transform: uppercase;
}
h5 {
  position: relative;
  font-size: 35px;
  text-transform: capitalize;
}


// ------ header
header {
  position: absolute;
  overflow: hidden;
  height: 90px;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 5;
  .wrapper {
    display: flex;
    height: 100%;
    width: 100%;
    padding: 0 8%;
    align-items: flex-end;
    justify-content: space-between;
    .menu {
      position: relative;
      display: flex;
      a {
        padding: 0 15px;
        color: $white;
        &.search {
          display: flex;
          img {
            padding-right: 10px;
          }
        }
      }
    }
    .box-img {
      height: 50px;
      img {
        height: 100%;
      }
    }
  }
}
// ------- home
.home {
  .banner {
    width: 100%;
    height: calc(100vh - 20px);
    overflow: hidden;
    .box-video {
      margin: 20px;
      video {
        height: 100%;
        width: 100%;
      }
    }
  }
  .champ {
    position: relative;
    padding: 80px 0;
    .wrapper {
      padding: 0 8%;
      width: 100%;
      display: flex;
      align-items: center;
      .box-text {
        width:40%;
        .wrap {
          position: relative;
          width: 100%;
          padding-left: 115px;
          .text-group {
            position: relative;
            width: 440px;
            margin-left: auto;
            .a {
              right: -15%;
              color: $darkpurple;
            }
            .b {
              left: -18%;
            }
          }
          p {
            color: $gray;
            padding: 10px 0;
          }
          
        }
      }
      .box-card {
        width: 60%;
        display: flex;
        justify-content: space-between;
        .box-img {
          width: 31%;
          img {
            width: 100%;
          }
        }
      }
    }
  }
  .product {
    position: relative;
    padding: 80px 0;
    .s-title {
      text-align: center;
      width: 520px;
      margin: 0 auto;
      padding-bottom: 50px;
      p {
        padding-top: 15px;
      }
    }
    .wrapper {
      padding: 0 8%;
      display: flex;
      justify-content: space-between;
      .card-product {
        position: relative;
        height: 340px;
        width: 220px;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: flex-end;
        .box-img {
          z-index: 1;
          height: 200px;
          img {
            height: 100%;
          }
        }
        .title {
          padding: 10px 0;
        }
        .circle {
          position: absolute;
          top: 20px;
          width: 200px;
          height: 200px;
          border-radius: 50%;
          background: $lightgray;
        }
        .pin {
          position: absolute;
          display: none;
          top: 0;
          left: 0;
          width: 40px;
          height: 40px;
          border-radius: 50%;
          background: linear-gradient($darkpurple, $purple);
        }
        &.active {
          .circle {
            background: linear-gradient($darkpurple, $purple);
          }
          .pin {
            display: block;
          }
        }
      }
    }
    .box-more {
      display: flex;
      justify-content: center;
    }
  }
  .news {
    position: relative;
    margin: 80px 0;
    padding-top: 10%;
    .news-bg {
      position: absolute;
      height: 75%;
      width: 100%;
      top: 0;
      left: 0;
      overflow: hidden;
      img {
        width: 100%;
      }
      .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(160deg, $darkpurple-op 40%, $purple-op);
      }
    }
    .wrapper {
      // .text-group {
      // }
      .box-card-news {
        position: relative;
        margin-left: auto;
        width: 65%;
        display: -webkit-box;
        overflow: hidden;
      }
    }
  }
}
// ------- footer
footer {
  position: relative;
  width: 100%;
  height: 100%;
  background: $darkpurple;
  .wrapper {
    padding: 50px 12%;
    display: flex;
    justify-content: center;
    .wrap {
      position: relative;
      display: flex;
      width: 25%;
      flex-direction: column;
      justify-content: space-between;
      .box {
        padding-top: 30px;
      }
      .box-text {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        p {
          color: $white;
          padding: 2px 0;
          &.title {
            font-size: 20px;
            text-transform: uppercase;
          }
          img {
            width: 18px;
            margin-right: 5px;
          }
        }
        a {
          color: $darklightpurple;
          padding: 2px 0;
          line-height: 1.4;
        }
        .social {
          display: flex;
          padding: 8px 0;
          img {
            width: 25px;
            margin: 0 8px;
            &:first-child {
              margin-left: 0;
            }
          }
        }
        img.combi {
          position: absolute;
          top: 35px;
          left: -55px;
          width: 50px;
        }
      }
    }
  }
  .block {
    position: relative;
    height: 20px;
    width: 1005;
    background: $purple;
  }
}

.card-news {
  position: relative;
  height: 540px;
  width: 360px;
  margin: 15px;
  border-radius: 15px;
  overflow: hidden;
  .box-img {
    height: 100%;
    width: 100%;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
  .box-text {
    position: absolute;
    height: 100%;
    width: 100%;
    right: -100%;
    top: 0;
    z-index: -1;
    opacity: 0;
    padding: 20px;
    transition: $smooth;
    background: $purple-op;
    h4, p, a {
      color: $lightpurple;
    }
    p, a {
      font-size: 20px;
    }
    .tag {
      display: flex;
      justify-content: space-between;
    }
    .box-title {
      position: relative;
      top: 35%;
      h4 {
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        text-overflow: ellipsis;
        -webkit-box-orient: vertical;
      }
      .desc {
        margin: 10px 0;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        text-overflow: ellipsis;
        -webkit-box-orient: vertical;
      }
    }
    .readmore {
      position: absolute;
      bottom: 20px;
      right: 25px;
    }
  }
  &.active, &:hover {
    .box-text {
      z-index: 2;
      opacity: 1;
      right: 0;
    }
  }
}
.more {
  margin-top: 50px;
  margin-left: 70px;
  color: $darkpurple;
  &:before {
    position: absolute;
    content: '';
    top: 50%;
    left: -65px;
    width: 55px;
    height: 2px;
    background-color: $darkpurple;
  }
}


@media (max-width: 1600px) {
  a, p {
    font-size: 18px;
  }
  h1 {
    font-size: 55px;
  }
  h2 {
    font-size: 50px;
  }
  h4 {
    font-size: 30px;
  }
  h5 {
    font-size: 30px;
  }
  .home {
    .champ {
      padding: 60px 0;
      .wrapper {
        .box-text .wrap .text-group {
          width: 330px;
        }
      }
    }
    .product {
      padding: 60px 0;
      .s-title {
        width: 460px;
      }
      .wrapper {
        .card-product {
          height: 290px;
          width: 200px;
          .box-img {
            height: 160px;
          }
          .circle {
            width: 160px;
            height: 160px;
          }
          .pin {
            width: 35px;
            height: 35px;
          }
        }
      }
    }
  }
  .card-news {
    height: 450px;
    width: 300px;
  }
}
@media (max-width: 1400px) {
  a, p {
    font-size: 16px;
  }
  h1 {
    font-size: 50px;
  }
  h2 {
    font-size: 45px;
  }
  h4 {
    font-size: 24px;
  }
  h5 {
    font-size: 20px;
  }
  .home {
    .champ {
      padding: 60px 0;
      .wrapper {
        .box-text .wrap {
          padding-left: 120px;
          .text-group {
            width: 290px;
          }
        }
      }
    }
    .product {
  //     padding: 60px 0;
      .s-title {
        width: 420px;
        padding-top: 10px;
      }
  //     .wrapper {
  //       .card-product {
  //         height: 290px;
  //         width: 200px;
  //         .box-img {
  //           height: 160px;
  //         }
  //         .circle {
  //           width: 160px;
  //           height: 160px;
  //         }
  //         .pin {
  //           width: 35px;
  //           height: 35px;
  //         }
  //       }
  //     }
    }
  }
  .more {
    margin-top: 35px;
    &:before {
      width: 45px;
    }
  }
  footer .wrapper .wrap .box-text .social img {
    width: 20px;
  }
  .card-news {
    height: 390px;
    width: 260px;
    margin: 10px;
    .box-text p, .card-news .box-text a {
      font-size: 16px;
    }
  }
}